<h3>Editar cadastro</h3>
<hr>
<%= form_for @user, url: users_backoffice_profile_path do |f| %>
    <% if @user.errors.any?%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <% @user.errors.full_messages.each do |erro|%>
                <li><%= erro %></li>
            <% end %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
    <div class="form-row">
        <div class="form-group col">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control", placeholder: "Fulano" %>
        </div>
        <div class="form-group col">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control", placeholder: "da Silva" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "user@user.com" %>
    </div>

    <%= f.fields_for :user_profile do |profile| %>
        <div class="form-row">
            <div class="col-md-3">
                <%= profile.label :zip_code %>
                <div class="input-group">
                    <%= profile.text_field :zip_code, class: "form-control", placeholder: "01000-000" %>
                    <div class="input-group-append">
                        <%= link_to "Buscar", users_backoffice_zip_code_path, remote: true, class: "btn btn-outline-secondary", type: "button", id: "zip_code_link"%>
                    </div>
                </div>
            </div>
            
            <div class="form-group col-md-9">
                <%= profile.label :address %>
                <%= profile.text_field :address, class: "form-control", placeholder: "Rua tal" %>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <%= profile.label :birthdate %>
                <%= profile.text_field :birthdate, 
                    value: (l(@user.user_profile.birthdate) unless @user.user_profile.birthdate.blank?),
                    class: "form-control datepicker", placeholder: "12/12/2020" %>
            </div>
            <div class="form-group col">
                <%= profile.label :gender %>
                <%= profile.collection_select(:gender_id, @genders, :id, :description, {:prompt => "Selecione"}, {:class=>"form-control" }) %>
            </div>
        </div>
    <%end %>

    <div class="form-row">
        <div class="form-group col">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", placeholder: "******" %>
        </div>
        <div class="form-group col">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "******" %>
        </div>
    </div>
    <%= f.submit nil, class: "btn btn-primary"%>
<% end %>

<script>
    let zip_code_input = document.getElementById("user_user_profile_attributes_zip_code");
    var zip_code_link = document.getElementById("zip_code_link");

    zip_code_input.addEventListener("change", function(){
        zip_code_link.href = '<%= users_backoffice_zip_code_path %>/?zip_code=' + zip_code_input.value;
    });
</script>