<div>
    <h1>
        <%= t('messages.list', model: @admins.model_name.human(count: 2))%>
       
        <%= link_to new_admins_backoffice_admin_path, class: "btn btn-success btn-circle" do%>
            <i class="fas fa-plus"></i>
        <%end%>
    </h1>

    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th><%= t_attribute(@admins, :email) %></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @admins.each do |admin|%>
            <tr>
                <th scope="row"><%= admin.id %></th>
                <td><%= admin.email %></td>
                <td>
                    <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-primary btn-circle" do%>
                        <i class="fas fa-edit"></i>
                    <%end%>
                    <%= link_to admins_backoffice_admin_path(admin), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: t('messages.confirm') } do%>
                        <i class="fas fa-trash"></i>
                    <%end%>
                </td>

            </tr>
            <%end%>
        </tbody>
    </table>
    <%= paginate @admins %>
</div>

